#!/usr/sbin/nft -f
flush ruleset

table inet filter {
  chain input {
    type filter hook input priority 0;
    policy drop;

    ct state established,related accept
    ct state invalid drop

    iifname lo accept

    ip protocol icmp accept
    ip6 nexthdr icmpv6 accept

{% for cidr in firewall_ssh_allowed_ipv4 %}
    ip saddr {{ cidr }} tcp dport 22 accept
{% endfor %}
{% for cidr in firewall_ssh_allowed_ipv6 %}
    ip6 saddr {{ cidr }} tcp dport 22 accept
{% endfor %}

{% for cidr in cloudflare_ipv4_ranges %}
    ip saddr {{ cidr }} tcp dport 443 accept
{% endfor %}
{% for cidr in cloudflare_ipv6_ranges %}
    ip6 saddr {{ cidr }} tcp dport 443 accept
{% endfor %}
  }

  chain forward {
    type filter hook forward priority 0;
    policy drop;
  }

  chain output {
    type filter hook output priority 0;
    policy accept;
  }
}
