[{{ rclone_remote_name }}]
type = s3
provider = Cloudflare
access_key_id = {{ r2_access_key_id }}
secret_access_key = {{ r2_secret_access_key }}
endpoint = {{ r2_endpoint }}
acl = private
no_check_bucket = true
